$drawerHeaderBgColor = #43a069

// title near search
$headerSearchTitleColor = white
$headerSearchFontSize = 1.875rem
$headerSearchFontWeight = 600

// header search
$searchWidth = 26.5rem
$searchVerticallyPadding = 1.4rem
$searchHorizontallyPadding = 2rem
$searchColorText = black
$searchColorFontSize = 0.875rem

//cross
$crossImgSize = 1.25rem
$crossColor = #DCDCDC

// drawer tabs
$drawerTabsGap = 1.875rem
$drawerTabsMarginBottom = 1.25rem
$drawerTabsMarginTop = 2.68rem
$drawerTabTextSize = 0.875rem
$drawerTabTextColor = white
//drawer active tabs
$drawerTabActiveBgColor = white
$drawerTabActiveTextSize = 0.8rem
$drawerTabActiveTextColor = #3D3D3D
$drawerTabActiveBorderRadius = 0.3rem
$drawerTabActivePaddingVertically = 1.4rem
$drawerTabActivePaddingHorizontally = 1.875rem


//main
$drawerMainBackgroundColor = white
$drawerMainMarginTop = 2.8125rem
$drawerMainMarginBottom = 2.6875rem
$drawerMainMaxWidth = 1137px

//main breadcrumb
$drawerBreadcrumbColor = black
$drawerBreadcrumbFontSize = 1.5rem
$drawerBreadcrumbLineHeight = 1.73375rem

//main search result
$drawerSearchResultColor = black
$drawerSearchColumnGap = 7.5rem
$drawerSearchRowGap = 2.8125rem

// main search one article
$drawerOneSearchResultMaxWidth = 34.375rem
$drawerOneSearchResultGap = 0.5625rem

//main search one article title
$drawerSearchResultTitleFontSize = 1.125rem
$drawerSearchResultTitleWeight = 500
$drawerSearchResultTitleLineHeight = 1.310625rem
$drawerSearchResultTitleColor = black

//main search one article text
$drawerSearchResultTextColor = black
$drawerSearchResultTextFontSize = 0.875rem
$drawerSearchResultTextLineHeight = 1.3125rem

//main search article breadcrumb
$drawerSearchResultBreadcrumbColor = #3D3D3D
$drawerSearchResultBreadcrumbTextSize = 0.75rem
$drawerSearchResultBreadcrumbLineHeight = 13.87px

// hidden result button
$drawerHiddenResultBgColor = #f3f5f2
$drawerHiddenResultWidth = 100%
$drawerHiddenResultFontSize = 1rem
$drawerHiddenResultColor = black

//highlight text
$drawerHighlightTextBgColor = #43a069
$drawerHighlightTextColor = white

$drawerTabsMaxHeight =  3.125rem
//mobile

$drawerTabActivePaddingHorizontallyMobile = 1.3rem
$drawerTabActivePaddingVerticallyMobile = 0.625rem

$drawerTabPaddingVerticallyMobile = 1.4rem
$drawerTabPaddingHorizontallyMobile = 1.3rem
