@import "drawer/_drawer-variables.styl"
@import "cards/_cards-variables.styl"

$mainColor = #43a069

//
$gray-500 = #adadad
$alice-blue = #e6f7ff

// colors
$buttonColorBg = #43a069
$colorLink = #43a069;
$accentColor = $mainColor
$textColor = #314659
$layoutParagraphColor = #112811
$borderColor = #e8e8e8
$codeBgColor = #434f43
$arrowBgColor = #698463
$headerColor = #14260d
$siteNameColor = #fff
$siteNameBorderColor = #fff
$inputTextColor = #fff
$buttonBorderColor = #fff
$buttonTextColor = #fff
$picPath = "search.svg"
$selectBorderColor = #d2dbd1
$sidebarBgColor = #f3f6f3
$dropdownBgColor = $sidebarBgColor
$footerCompanyTitle = #d8d8d8
$sidebarHeadingColorText = #3a3f3a
$breadcrumbColor = $gray-500
$sidebarActiveColor = #f2f5f2

$homeSearchWidth = 38.125rem
$mobileHomeSearchWidth = 24.375rem

// layout
$navbarHeight = 4rem
$sidebarWidth = 18.5rem
$contentWidth = 52.9375rem
$footerHeight = 6.375rem

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py json ini

$layout-vertical-padding = 0.7rem
$layout-horizontal-padding = 1.5rem

$text-default = 0.875rem
$selectBorderRadius = 0.5rem
$homeSearchBorderRadius = 2rem
$defaultSearchBorderRadius = 1.25rem

//mobile
$mobileBreakpoint = 767px
$mobileBreakpointForSearch = 426px
