
$cardsBetweenWidth = 1.875rem

$cardParagraphColor = #014108
$cardBorderColor = #b9c8b3
$cardBorderRadius = 0.3125rem
$cardParagraphFontSize = 1.05rem
$cardParagraphWeight = 500

//button
$cardButtonRadius = 0.5rem
$cardButtonColorText = white
$cardButtonTextFontSize = 0.875rem

//paddings
$cardFooterPaddingVertically = 1.125rem
$cardFooterPaddingHorizontally = 1.25rem

